.header {
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	border-bottom: 3px solid #343434;
}

.icon {
	font-size: 24px;
	cursor: pointer;
}
